* {
  box-sizing: border-box;
}

.carton {
  position: relative;
  width: 275px;
  height: 435px;
  margin: 10rem auto 2rem;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  top: 7.5px;
  right: -99px;
  width: 110px;
  height: 425px;
  background-image: linear-gradient(#d4eafd 79.2%, #ff4d6a 79.2%, #ff4d6a 98.9%, transparent 98.9%);
  z-index: 2;
  transform: rotateY(28deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
}
.side::before {
  content: "";
  position: absolute;
  top: -64px;
  border-style: solid;
  border-width: 0 55px 64px 55px;
  border-color: transparent transparent #bedbf4 transparent;
}

.front {
  width: inherit;
  height: inherit;
  background-color: aqua;
  background-image: linear-gradient(#e1f1ff 80%, #ff667f 80%);
  transform-style: preserve-3d;
  box-shadow: 22px -80px 0 22px aliceblue;
}
.front::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 103px 50px 0 25px;
  border-color: #292c3d transparent transparent;
  top: -103px;
  z-indeX: 10;
  left: -25px;
}
.front::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 116.5%;
  top: -102px;
  background-color: #e1f1ff;
  box-shadow: inset 0 -2px #dceeff, inset -2px 0 5px #d7ecff;
  z-index: 5;
}

p {
  text-align: center;
  color: #ff667f;
  font-family: "Amatica SC", sans-serif;
}

.missing {
  margin-top: 0;
  padding-top: 1.75rem;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.info {
  position: relative;
  padding-top: 1rem;
  margin: 0;
  color: #002e57;
  font-size: 1.5rem;
}
.info::after {
  position: absolute;
  left: 0;
  top: 115px;
  width: 100%;
  content: "719-266-2837";
  color: #fefefe;
}

.cat {
  width: 175px;
  height: 150px;
  background-color: #fff;
  margin: auto;
  position: relative;
  outline: 5px solid #bad3e8;
  background-image: url("gav.png");
  background-position: center;
  background-size: cover;
}

body {
  perspective: 800px;
  background-color: #292c3d;
}